html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

#root {
  height: 100%;
}

input[type='text'] {
  -webkit-appearance: none;
}

.App {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.main-container {
  display: flex;
  background-color: white;
  height: 100%;
  padding-top: 1.2rem;
  width: 470px;
  gap: 1.2rem;
  flex-direction: column;
  align-items: flex-end;
}

.main {
  background-color: white;
  height: 100%;
}

.left {
  padding-top: 1.2rem;
  width: 470px;
  gap: 1.2rem;
}

.right {
  flex: 1 1 0 auto;
  overflow: auto;
}

.middle {
  width: 530px;
  border-right: solid 1px rgba(202, 202, 202, 0.719);
  border-left: solid 1px rgba(202, 202, 202, 0.719);
  overflow: auto;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.justifyEnd {
  justify-items: flex-end;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-items: flex-start;
}

.alignStart {
  align-items: flex-start;
}

.left-bar {
  width: 50%;
  height: 6%;
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: flex-start;
}

.left-bar-child {
  display: flex;
  gap: .5rem;
  padding: .7rem;
  border-radius: 1.6rem;
}


.footer {
  width: 100%;
  bottom: 0;
  height: 72px;
  background-color: rgb(255, 19, 19);
  color: white;
  position: sticky;
  display: flex;
}

.dontMiss {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: .3rem;
}

.span1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.span2 {
  margin-left: -.5rem;
}

.authentication {
  display: flex;
  height: 100%;
  align-items: center;
  width: 30%;
  gap: 1.5rem;
  margin-right: 3rem;
  font-size: 1rem;
}

.logIn {
  border: solid 1.5px white;
  padding: .6rem;
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.signUp {
  background: black;
  color: white;
  padding: .6rem;
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border: solid 1.5px black;
}

.grayFont {
  color: rgb(163, 163, 163);
}

.bird {
  height: 100%;
}

.middle-bar {
  width: 100%;
  height: 7%;
  border-bottom: solid 1px rgba(202, 202, 202, 0.719);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .5rem;
}

.middle-bar>span {
  display: flex;
  height: 65%;
  width:  90%;

}

input {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(224, 224, 224);
  height: 100%;
  width: 100%;
  border: none;
  border: solid 1px;
  border-radius: 1.6px;
}

@media screen and (max-width: 1272px) {
  .left {
    width: 170px;
    margin-left: 1.6rem;
  }

  .left-bar {
    width: 100%;
    height: 6%;
    display: flex;
    gap: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }



  .authentication {
    display: flex;
    height: 100%;
    align-items: center;
    width: 30%;
    gap: 1.5rem;
    margin-right: 3rem;
  }

}

@media screen and (max-width: 1016px) {
  .left {
    width: 170px;
    margin-left: 1.6rem;
  }

  .left-bar {
    width: 100%;
    height: 6%;
    display: flex;
    gap: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .right {
    width: 0;
    display: none;
  }

  .authentication {
    display: flex;
    height: 100%;
    align-items: center;
    width: 35%;
    gap: 1.5rem;
    margin-right: 3rem;
  }

  .dontMiss {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: .3rem;
  }

}