html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}
.App {
  display: flex;
  height: 100%;
}

.main {
  background-color: white;
  height: 100%;
}

.left {
  width: 32%;
}

.right {
  width: 41%;
}

.middle {
  border-right: solid 1px rgba(202, 202, 202, 0.719);
  border-left: solid 1px rgba(202, 202, 202, 0.719);
  width: 32%;
}

.container {
  display: flex;
}
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.justifyEnd {
  justify-items: flex-end;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-items: flex-start;
}

.alignStart {
  align-items: flex-start;
}

.grayFont {
  color: rgb(163, 163, 163);
}