html {
  margin: 0;
  width: 100%;
  height: 100%;

}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}


.App {
  display: flex;
  height: 100%;
  position: relative;
}

.mobileTweetButton,
.mobileBottomBar {
  display: none;
}

.icon {
  display: none;
  width: 0;
  height: 0;
}

.main-container {
  display: flex;
  background-color: white;
  height: 100%;
  padding-top: 1.2rem;
  width: 600px;
  gap: 1.2rem;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.main-container-right {
  background-color: white;
  height: 100%;
  flex: 1 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  background-color: white;
  height: 100%;
}

.left {
  padding-top: 1.2rem;
  width: 470px;
  gap: 1.2rem;
}

.right {
  flex: 1 1 0 auto;
  overflow: hidden;
}

.middle {
  width: 600px;
  border-right: solid 1px rgba(128, 128, 128, 0.219);
  border-left: solid 1px rgba(128, 128, 128, 0.219);
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.justifyEnd {
  justify-items: flex-end;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-items: flex-start;
}

.alignStart {
  align-items: flex-start;
}

.left-bar {
  width: 45%;
  height: 6%;
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: flex-start;
}

.left-bar-child {
  display: flex;
  padding: .7rem;
  border-radius: 1.6rem;
}

.left-bar-child:hover {
  background-color: rgba(128, 128, 128, 0.082);
  transition: background-color .3s;
  cursor: pointer;
}


i,
.i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}


.footer {
  width: 100%;
  bottom: 0;
  height: 72px;
  background-color: rgb(255, 19, 19);
  color: white;
  position: sticky;
  display: flex;
  z-index: 10;
}

.dontMiss {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: .3rem;
}

.span1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.span2 {
  margin-left: -2.9rem;
}

.authentication {
  display: flex;
  height: 100%;
  align-items: center;
  width: 30%;
  gap: 1rem;
  margin-right: 3rem;
  font-size: 1rem;
}

.logIn {
  border: solid 1.5px white;
  padding: .5rem;
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.logIn:hover {
  background-color: white;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  transition: background-color .2s;
  cursor: pointer;
}

.signUp {
  background: black;
  color: white;
  padding: .5rem;
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border: solid 1.5px black;
}

.signUp:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
  transition: background-color .2s;
}

.grayFont {
  color: rgb(163, 163, 163);
}

.bird {
  height: 100%;
}

.middle-bar {
  width: 100%;
  height: 7%;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .35rem;

}

.middle-bar>label {
  display: flex;
  height: 65%;
  width: 90%;
  position: relative;
}

label>div {
  position: absolute;
  font-weight: 300;
  bottom: 18.5%;
  left: .8rem;
  color: gray;

}

.search {

  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(224, 224, 224);
  height: 100%;
  width: 100%;
  border: none;
  border: solid 1px transparent;
  border-radius: 100px;
  font-size: 1.1rem;
  text-indent: 8px;
}

input:focus {
  background-color: white;
  outline: none;
  border: solid 1px rgb(255, 19, 19);
}

.signUp-box {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(128, 128, 128, 0.219);
  width: 350px;
  height: 140px;
  margin: 1rem;
  border-radius: 1rem;
  margin-top: .8rem;
  margin-left: 1.8rem;
}

.signUp-box-gray {
  display: flex;
  flex-direction: column;
  border: solid 1px transparent;
  width: 340px;
  height: 330px;
  margin: 1rem;
  border-radius: 1rem;
  margin-top: .8rem;
  background-color: rgba(128, 128, 128, 0.219);
  margin-left: 1.8rem;
  padding-bottom: -2rem;
}

.signUp-box>.text {
  padding: .7rem;
  padding-bottom: .05rem;
}

.signUp-box-header {
  font-size: 1.3rem;
  font-weight: bold;
  padding: .8rem;
}

.smolText {
  font-size: .75rem;
  color: gray;
}

.endBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.signUp-box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50%;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 100px;
  color: white;
  background-color: rgb(255, 19, 19);
}

.signUp-box-button:hover {
  cursor: pointer;
  background-color: white;
  border: solid 1px rgb(255, 19, 19);
  color: rgb(255, 19, 19);
  transition: background-color .2s;
}

.followSuggestion {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  gap: .7rem;
}

.followProfile {
  width: 12%;
  height: 50%;
  border-radius: 100px;
  background-color: red;
  margin-left: 1rem;
}

.followName {
  display: flex;
  flex-direction: column;
  gap: .1rem;
  font-size: .88rem;
  flex: auto;
}

.followUser {
  font-weight: bold;
}

.followAt {
  color: grey;
}

.followButton {
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  color: white;
  border-radius: 100px;
  font-size: .88rem;
  font-weight: bold;
  margin-right: 1rem;
}

.followButton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  transition: background-color .2s;
}

.tweetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 100px;
  color: white;
  background-color: rgb(255, 19, 19);
}

.tweetButton:hover {
  background-color: white;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  transition: background-color .2s;
  cursor: pointer
}

.tweet-popUp {
  position: relative;
  background-color: white;
  border: solid 1px transparent;
  border-radius: .8rem;
  width: 600px;
  height: 314px;
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translate(-50%, -9%);
  display: flex;
}


.tweet-popUp2 {
  position: relative;
  background-color: white;
  border: solid 1px transparent;
  border-radius: .8rem;
  width: 600px;
  height: 415px;
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translate(-50%, -9%);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
}

.x {
  position: absolute;
  font-size: 1.15rem;
  top: 1.1rem;
  left: 1.1rem;
  color: rgb(53, 53, 53);
}

.x:hover {
  transform: scale(1.1);
  transition: transform .2s;
}

.tweet-left-column {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 12%;
  margin-top: 4.2rem;
  padding-left: .2rem;
}

.tweet-right {
  width: 88%;
  height: 100%;
  margin-top: 4.2rem;
}

.tweetProfile {
  height: 3rem;
  width: 3rem;
  background-color: red;
  border-radius: 100px;
}

.everyone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .87rem;
  color: rgb(255, 19, 19);
  font-weight: bold;
  padding-bottom: .1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 15%;
  border: solid 1px rgba(128, 128, 128, 0.39);
  border-radius: 100px;
}

.reply-options {
  display: flex;
  align-items: center;
  gap: .3rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
  font-size: .87rem;
  color: rgb(255, 19, 19);
  font-weight: bold;
  width: 95%;
  padding-bottom: .9rem;
}

.reply-bottom> div> .reply:hover {
  background-color: white;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  cursor: pointer;
  transition: background-color .2s;
}

textarea {
  padding-top: 2rem;
  border: none;
  outline: none;

  width: 95%;
  height: 100px;
  resize: none;
  font-size: 1.16rem;
}

.right-bottom {
  display: flex;
  gap: 1.5rem;
  height: 60px;
  color: rgb(255, 19, 19)
}

.bottom-icon {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  height: 100%;
}

.bottom-chat {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.7rem;
}

.bottom-chat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 60%;
  background-color: rgb(255, 19, 19);
  color: white;
  font-weight: bold;
  border-radius: 100px;
}

.bottom-chat-button:hover {
  background-color: white;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  transition: background-color .2s;
  cursor: pointer;
}

.explore-tweet {
  cursor: pointer;
  position: relative;
  display: flex;
  padding-top: 1rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
  width: 100%;
}

.explore-tweet-focus {
  cursor: pointer;
  position: relative;
  display: flex;
  padding-top: 1rem;
  width: 100%;
}

.explore-tweet:hover {
  background-color: rgba(128, 128, 128, 0.119);
  transition: background-color .2s;
}

.explore-tweet-focus:hover {
  background-color: rgba(128, 128, 128, 0.119);
  transition: background-color .2s;
}

.comment-line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: rgba(128, 128, 128, 0.219);
  left: 2.67rem;
  bottom: 0;
}

.comment-line2 {
  position: absolute;
  height: 80%;
  width: 2px;
  background-color: rgba(128, 128, 128, 0.219);
  left: 2.67rem;
  bottom: 0;
}

.comment-line3 {
  position: absolute;
  height: 30%;
  width: 2px;
  background-color: rgba(128, 128, 128, 0.219);
  left: 2.67rem;
  top: 0;
}

.comment-line4 {

}

.explore-tweet-left {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 59.767px;
  height: 100%;
}

.explore-tweet-right {
  width: 90%;
  height: 100%;
}

.explore-tweet-profile {
  height: 3rem;
  width: 3rem;
  background-color: red;
  border-radius: 100px;
  z-index: 2;
}

.explore-tweet-info {
  display: flex;
  gap: .4rem;
}

.explore-tweet-right>p {
  width: 90%;
  margin-top: 0.3rem;
  font-size: .94rem;
}

.tweet-username {
  font-weight: bold;
}

.tweet-username:hover {
  text-decoration: underline;
  transition: text-decoration .3s;
}

.tweet-at-and-date {
  display: flex;
  align-items: center;
  color: gray;
  word-spacing: 1px;
}

.tweet-reactions {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  gap: 7rem;
  padding-bottom: 1rem;
}

.tweet-reaction {
  display: flex;
  gap: .2rem;
}

.tweet-reaction:hover {
  transform: scale(1.2);
  transition: transform .2s;
}

.left-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: auto;
  padding-bottom: 3rem;
}

.profile-container {
  font-size: 1.1rem;
  width: 90%;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.left-profile-picture {
  height: 3rem;
  width: 3rem;
  background-color: red;
  border-radius: 100px;
}

.left-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: .8rem;
  gap: .2rem;
}

.left-profile-info>span {
  font-weight: normal;
  color: gray;
  font-size: 1.1rem;
}

.left-profile-options {
  display: flex;
  justify-content: flex-end;
  color: rgb(51, 51, 51);
  font-size: 1rem;
  flex: auto;
}

.left-profile-options:hover {
  color: gray;
  transition: color .2s;
}

.go-back-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.972);
  width: 100%;
  height: 3.6rem;
  padding-left: 2rem;
  gap: 2.5rem;
}

.go-back-bar > span:hover {
  color: gray;
  transform: scale(1.1);
  cursor: pointer;
  transition: color transform .2s;
}

.middle-focused-container {
  width: 100%;
  margin-left: .8rem;
  margin-right: .8rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
  z-index: 3;
}

.middle-focused-container>div {
  display: flex;
}

.middle-focused-container>div>i {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  flex: auto;
}

.middle-focused-container>p {
  font-size: 1.3rem;
  padding-left: .8rem;
  margin: 0;
  margin-right: .3em;
}

.focused-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  background-color: red;
  margin: .8rem;
}

.focused-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.focused-info>.one {
  font-weight: bold;
}

.focused-info>.two {
  color: gray;
}

.focused-date {
  word-spacing: .3rem;
  color: gray;
  padding-left: .8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.focused-reactions {
  margin-left: .8rem;
  margin-right: .8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  gap: 1.4rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
  border-top: solid 1px rgba(128, 128, 128, 0.219);
}

.focused-reactions>div> :first-child {
  font-weight: bold;
}

.focused-reactions>div> :nth-child(2) {
  color: gray;
}

.focused-interactions {
  margin-left: .8rem;
  margin-right: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 3.5rem;
  gap: 1.4rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
}

.focused-interactions>span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: gray;
}

.focused-interactions > span:hover {
  transform: scale(1.2);
  color: black;
  transition: transform .2s;
}

.left-area-focused-reply {
  align-items: center;
  justify-content: center;
}

.focused-reply {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.219);
}

.replying-to {
  color: gray;
}

.replying-to>span {
  color: red;
}

.right-area-focused-reply {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.right-area-focused-reply>textarea {
  padding-top: 1.3rem;
  height: 4rem;
  width: 90%;
}

.reply-bottom {
  color: red;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;

}

.reply-bottom>div {
  padding-right: 1rem;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.reply-bottom>div>.reply {
  background-color: rgb(255, 19, 19);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 100px;
}

.profile-middle-name {
  display: flex;
  flex-direction: column;
}

.profile-middle-name>h2 {
  margin: 0;
  margin-bottom: 0;
}

.profile-middle-name>span {
  color: gray;
}

.profile-banner-and-bio {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 410px;
  width: 100%;
}

.banner {
  height: 50%;
  width: 100%;
  background-color: gray;
}

.bio {
  height: 50%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.profile-middle-picture {
  top: 40%;
  left: 3%;
  transform: translate(0%, -50%);
  position: absolute;
  border-radius: 1000px;
  width: 9rem;
  height: 9rem;
  background-color: red;
  border: solid 5px white;
}

.bio-half {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.bio-second-half {
  height: 70%;
  width: 100%;
}

.bio-half>span {
  background-color: white;
  color: black;
  border: solid 1px rgba(128, 128, 128, 0.219);
  border-radius: 100px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  font-weight: bold;
}

.bio-half > span:hover {
  background-color: black;
  color: white;
  transition: background-color .2s;
  cursor: pointer;
}

.bio-half>.follow-profile {
  background-color: black;
  color: white;
  border: solid 1px rgba(128, 128, 128, 0.219);
  border-radius: 100px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  font-weight: bold;
}

.bio-half > .follow-profile:hover {
  background-color: white;
  color: black;
  border: solid 1px rgba(128, 128, 128, 0.219);
  transition: background-color .2s;
  cursor: pointer;
}

.bio-second-half>h2 {
  padding-top: 1rem;
  padding-bottom: .4rem;
  padding-left: .4rem;
  margin-bottom: 0;
  margin-left: 0;
}

.bio-second-half>span {
  color: gray;
  padding: .4rem;

}

.bio-second-half>div {
  display: flex;
  gap: 1.2rem;
  padding: 0.4rem;
  padding-top: 1.2rem;
}

.bio-second-half>div>.number {
  font-weight: bold;
}

.bio-second-half>div>.number>span {
  font-weight: normal;
}

.profile-media-bar {
  display: flex;
  width: 100%;
  height: 2.5rem;
  padding-top: 1.5rem;
}

.profile-media-bar>div {
  width: 50%;
  font-weight: bold;
  padding-left: 1.4rem;
  height: 100%;
  width: 100%;
}

.profile-media-bar>.media-bar-active>div {
  width: 96%;
  border-bottom: solid 5px red;
  border-radius: 5px;
  padding-bottom: .8rem;
  transition: width .2s;
  font-size: 1.2rem;
}

.signUpInput {
  outline: none;
  border: none;
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  border: solid 1px black;
  border-radius: .4rem;
  text-indent: 8px;
}

.popUpSignUp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: red;
  color: white;
  border-radius: 100px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.popUpSignUp:hover {
  background-color: white;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  cursor: pointer;
  transition: background-color .2s;
}

.profile-tweet-container {
  overflow: auto;
  width: 600px;
}

.profile-tweet-container::-webkit-scrollbar {
  display: none;
}

.logOut {
  position: relative;
  color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  padding: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;

}

.logOut>span:hover {
  transform: scale(1.1);
  transition: transform .2s;
}


.logOut:hover {
  color: white;
  background-color: rgb(255, 19, 19);
  border: solid 1px rgb(255, 19, 19);
  padding: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 9px;
  transition: background-color .3s;
}


@media screen and (max-width: 1272px) {
  .main-container {
    width: 200px;
    padding-left: 1.6rem;
  }

  .left-bar {
    width: 100%;
    height: 6%;
    display: flex;
    gap: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }



  .authentication {
    display: flex;
    height: 100%;
    align-items: center;
    width: 30%;
    gap: 1.5rem;
    margin-right: 3rem;
  }

  .left-profile-info {
    font-size: .98rem;
  }

  .left-profile-info>span {
    font-size: .98rem;
  }


  .left-profile-options {
    font-size: .98rem;
  }

}

@media screen and (max-width: 1016px) {
  .main-container {
    width: 200px;
    padding-left: 1.6rem;
  }

  .left-bar {
    width: 100%;
    height: 6%;
    display: flex;
    gap: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .right {
    width: 0;
    display: none;
  }

  .authentication {
    display: flex;
    height: 100%;
    align-items: center;
    width: 35%;
    gap: 1.5rem;
    margin-right: 3rem;
  }

  .dontMiss {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: .3rem;
  }

}

@media screen and (max-width: 865px) {
  .main-container {
    padding-right: 1.6rem;
  }

  .tweet-reactions {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    gap: 5rem;
    padding-bottom: 1rem;
  }

  .explore-tweet-right>p {
    width: 90%;
    margin-top: 0.3rem;
    font-size: .93rem;
  }

}

@media screen and (max-width: 650px) {

  .dontMiss {
    width: 55%;
    margin-left: 1rem;
  }

  .authentication {
    width: 45%;
    margin-right: 1.5rem;
    margin-left: 3rem;
    font-size: .95rem;
  }

  .dontMiss>.span1 {
    font-size: 1.15rem;
  }

  .dontMiss>.span2 {
    font-size: .79rem;
  }

  .tweet-reactions {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    gap: 3.5rem;
    padding-bottom: 1rem;
  }

  .explore-tweet-right>p {
    width: 90%;
    margin-top: 0.3rem;
    font-size: .92rem;
  }

  .left-profile-picture {
    height: 3.5rem;
    width: 3.5rem;
  }

  .left-profile-info {
    display: none;
  }

  .left-profile-options {
    justify-content: flex-start;
    margin-left: 1rem;
    font-size: .97rem;
  }

}

@media screen and (max-width: 558px) {

  .middle-focused-container {
    margin-top: 72px;
  }

  .mobileBottomBar {
    width: 100%;
    bottom: 0;
    height: 64px;
    background-color: rgb(255, 255, 255);
    color: white;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid 1px rgba(128, 128, 128, 0.219);
    z-index: 10;
  }

  .mobileBottomBar>div {
    display: flex;
    font-size: 1.4rem;
    color: black;
  }

  .mobileTweetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 3.5rem;
    height: 3.5rem;
    bottom: 84px;
    left: 80%;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 100px;
  }

  .middle {
    border: none;
  }

  .dontMiss {
    display: none;
    width: 0;
    height: 0;
  }

  .authentication {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    flex: auto;
    font-size: 1rem;
    margin: 0;
  }

  .authentication>span {
    flex: auto;
    margin-right: .5rem;
    margin-left: .5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logIn {
    border: solid 1.5px rgba(128, 128, 128, 0.219);
    color: rgb(255, 19, 19);
    padding: .4rem;
    border-radius: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: .9rem;
  }

  .signUp {
    background: rgb(255, 19, 19);
    color: white;
    padding: .4rem;
    border-radius: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border: solid 1.5px transparent;
    font-size: .9rem;
  }

  .main-container {
    display: none;
    width: 0;
    height: 0;
    background-color: white;
    padding-top: 1.2rem;
    gap: 1.2rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer {
    width: 100%;
    bottom: 0;
    height: 64px;
    background-color: rgb(255, 255, 255);
    color: white;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0 auto;
    border-top: solid 1px rgba(128, 128, 128, 0.219);


  }

  .middle-bar {
    width: 100%;
    height: 7%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.975);
    position: fixed;
    z-index: 10;
  }

  label {
    display: flex;
    align-items: center;
    width: 90%;
  }

  label>div {
    font-size: 1rem;
    left: 2.5rem;
    bottom: 16%;
  }

  .search {
    height: 80%;
    font-size: .95rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10%;
    height: 100%;
    margin-left: 1rem;
  }

  .icon>img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .tweet-reactions {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    gap: 3rem;
    padding-bottom: 1rem;
  }

  .explore-tweet-right {
    font-size: .92rem;
  }

  .explore-tweet-right>p {
    width: 90%;
    margin-top: 0.3rem;
    font-size: .92rem;
  }

  .left-profile-info {
    display: none;
  }

  .left-profile-options {
    margin-left: 1rem;
    justify-content: flex-start;
  }

  .go-back-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.972);
    width: 100%;
    height: 3.6rem;
    padding-left: 2rem;
    gap: 2.5rem;
    position: fixed;
    z-index: 10;
  }
}

@media screen and (max-width: 775px) {
  .left-profile-picture {
    height: 3.5rem;
    width: 3.5rem;
  }

  .left-profile-info {
    display: none;
  }

  .left-profile-options {
    margin-left: 1rem;
    justify-content: flex-start;
  }
}